* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    margin: 8px;
    padding: 0;
    display: block;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .container {
    white-space: nowrap;
    display: grid;
    grid-template-columns: 380px 1fr;
  }

  main {
    display: block;
  }
  
  .nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    align-items: baseline;
    list-style: none;
  }
  
  .image {
    width: 400px;
    height: 600px;
    shape-margin: 1em;
    transition: .5s;
    object-fit: cover;
    margin-left: 64px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  div {
    display: block;
  }

  h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
  
  .nav-link {
    margin-left: 10%;
    -webkit-font-smoothing: antialiased;
    padding: 10px 10px;
    line-height: 60px;
    transition: .5s;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 50px;
    font-size: 30px;
  }
  
  html {
    scroll-behavior: smooth;
  }

  .page-body{
    min-height: 100%;
    margin: 0 auto;
    padding: 0;
  }

  header {
    display: block;
  }

  

  .left {
    background-color: #D3D3D3;
    color: white;
    width: 100%;
    padding: 4px 464px 0px 0px;
  }

  .figure-left {
    margin: 0;
    padding: 0;
    width: 100%;
    height: min-content;
    background-color: #D3D3D3;
  }

  figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
  }

  .contact-list {
    list-style: none;
    margin: 0;
    margin-left: 60px;
    margin-right: 60px;
    padding: 0;
  }

  .education-list {
    list-style: circle;
    margin: 0;
    margin-left: 60px;
    margin-right: 60px;
    padding: 0;
  }

  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.contact-point, .education-point {
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: black;
  background-color: whitesmoke;
}

.section-title {
  position: relative;
  margin: 0;
  margin-bottom: 24px;
  padding-left: 60px;
  font-size: 48px;
  line-height: 36px;
  font-weight: 600;
  color: black;
  background-color: whitesmoke;
}

.contact, .education {
  padding: 32px 464px 34px 0px;
  background-color: whitesmoke;
}

section {
  display: block;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.right {
  display: block;
}

.title {
  margin: 50px 80px 125px 150px;
  font-size: 40px;
  color: #141414;
}

.main-title {
  margin: 0;
  padding: 0;
  font-size: 100px;
  line-height: 50px;
  font-weight: 600;
}

.about {
  font-family: 'Roboto', sans-serif;
  margin: 280px 0px 0px 150px;
  font-size: 32px;
}

.skills, .code, .project, .languages {
  font-family: 'Roboto', sans-serif;
  margin: 60px 0px 0px 150px;
  font-size: 30px;
}

p {
  font-size: 20px;
}

pre code {
  background-color: white;
  font-size: 16px;
  margin-left: 0;
}

footer {
  background-color: whitesmoke;
  height: 100px;
  position: relative;
}

.github-link {
  margin: 33px 33px 33px 166px;
  font-size: 25px;
}

.year {
  margin: 33px 33px 33px 540px;
}

.image-container {
  position: absolute;
  left: 70%;
  bottom: -33px;
  width: 150px;
  height: 115px;
  margin-left: 200px;
}
